.container{
  max-width: 180rem;
  margin: 5rem auto;
  background-color: var(--Grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

}

.content{
  display: flex;
}


.section-main-view{
  height: 80rem;
  display: flex;
  flex: 1;
  margin: 5rem;
}

.work-notes-inputs{

}

.work-notes__actions{
  font-size: 1.2rem;

  list-style: none;

  &--labels{
  }

  &--inputs{
    margin: 0 0 1rem 3rem;
    width: 30rem;
    display: block;
  }

  & textarea{
    resize: none;
  }
}

.displays{
  display: flex;
}

.save-options{
  display: block;
  margin: 0 0 2rem 5rem;
  position: absolute;
  left: 45%;

}

.notes-column{
  display: flex;
  flex-direction: column;

  &__work-notes{
    margin: 0 0 5rem 5rem;
    height: 30rem;
    width: 40rem;
    background-color: #777777;
    position: absolute;
    top: 18%;
    left: 45%;

  }

  &__additional-notes{
    margin-left: 5rem;
    height: 30rem;
    width: 40rem;
    background-color: #777777;
    position: absolute;
    top: 53%;
    left: 45%;
  }
}

.email{
  margin: 6rem 0 0 5rem;
  height: 65rem;
  width: 45rem;
  background-color: #777777;
  position: absolute;
  top: 11.5%;
  left: 67%;
}

.displays textarea{
  margin: 2rem;
  width: 95%;
  height: 88%;
  font-size: 1.4rem;
  background-color: transparent;
  color: white;
  border: none;
  resize: none;
}