.content{
  display: flex;
}

.section-sidebar{
  background-color: var(--Grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-list{
  list-style: none;
  font-size: 1.6rem;

  &--link{
    &:link, &:visited{
      text-decoration: none;
      color: lightgrey;
    }
  }

  &--item{


    }
}